/*app.component.html*/
#content{
  margin-top: 30px;
  border-radius: 2px;
  background: white;
  box-shadow: 0px 2px 5px grey;
  padding: 0px;
  overflow: hidden;
}

#header{
  background: #E03137;
  color: white;
  margin: 0px;
  height: 90px;
  line-height: 90px;
}

#header h1{
  display: block;
  line-height: 90px;
  font-weight: bold;
}

#nav{
  background: rgba(224, 49, 55, 0.67);
  padding: 0px;
  margin: 0px;
}

#nav ul{
  margin: 0px; /*quitar el margen de la lista*/
  list-style: none; /*quitar el estilo de la lista*/
  padding-left: 20px;
}

#nav ul li{
  float: left; /*poner la lista en horizontal*/
  margin-right: 20px; /*separar*/
}

#nav ul li a{
  display: block;
  color: black;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 200ms;
}

#nav ul li a:hover{
  text-decoration: none;
  background: rgba(224, 49, 55, 0.67);
  color: white;
}

.activado{
  text-decoration: none !important;
  background: rgba(224, 49, 55, 0.67) !important;
  color: white !important;
  border-bottom: 4px solid yellow !important;
}

#main .jumbotron{
  padding: 50px;
  margin-top: 30px;
  border-radius: 10px;
}

#footer{
  margin: 50px;
  padding-top: 10px;
  border-top: 1px solid grey;
  color: grey;
}

/*producto-add.html*/
#form-producto table tr td{
  margin: 5px;
  padding: 5px;
}

/*producto-list.html*/
.imagen_container{
  width: 100%;
  overflow: hidden;
}

.producto_imagen{
  /*width: 100%;*/
  max-height: 200px;
  margin: 0px auto;
  display: block;/*Centrar*/
}

.imagen_relleno{
  background: #ccc;
  width: 100%;
  height: 200px;
}
