<div class="col-lg-10 col-lg-offset-2">
  <div class="jumbotron" >
    <h1>{{titulo}}</h1>
    <p>La página que intentas abrir no existe.</p>
    <p>
      <a href="#" class="btn btn-lg btn-primary">Ver productos</a>
      <a href="#" class="btn btn-lg btn-success">Añadir productos</a>
    </p>
  </div>
</div>
