<div class="col-lg-10 col-lg-offset-2">
  <div class="jumbotron" >
    <h1>{{titulo}}</h1>
    <p>Gestiona tus productos en esta súper Webapp realizada con Angular 9.</p>
    <p>
      <a [routerLink]="['/producto-list']" class="btn btn-lg btn-primary">Ver productos</a>
      <a [routerLink]="['/producto-add']" class="btn btn-lg btn-success">Añadir productos</a>
    </p>
  </div>
</div>
