<h2>{{titulo}}</h2>
<hr>
<form #formProducto="ngForm" (ngSubmit)="onSubmit()" class="col-lg-8" id="form-producto">
  <table>
    <tr>
      <td>
        <label><strong>Nombre</strong></label>
      </td>
      <td><input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="producto.nombre"
        class="form-control" placeholder="Ingrese nombre" required>
        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">
          El nombre es obligatorio.
        </span>
      </td>
    </tr>
    <tr>
      <td><label><strong>Descripción</strong></label></td>
      <td>
        <textarea type="" #descripcion="ngModel" name="descripcion" [(ngModel)]="producto.descripcion"
          class="form-control" placeholder="Ingrese descripción" required></textarea>
        <span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger">
          La descripción es obligatorio.
        </span>
      </td>
    </tr>
    <tr>
      <td><label><strong>Precio</strong></label></td>
      <td>
        <input type="text" #precio="ngModel" name="precio" [(ngModel)]="producto.precio"
          class="form-control" placeholder="Ingrese precio" required pattern="[0-9]+">
        <span *ngIf="!precio.valid && precio.touched" class="label label-danger">
          El precio es incorrecto.
        </span>
      </td>
    </tr>
    <tr>
      <td><label><strong>Imagen</strong></label></td>
      <td><input type="file" (change)="fileChangeEvent($event)"></td>
      <td>
        <div *ngIf="isEdit">
          <img src="http://localhost/CursoAngular-Udemy-Backend/uploads/{{producto.imagen}}"
                      class="producto_imagen">
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="{{titulo}}"
        [disabled]="!formProducto.form.valid" class="btn btn-success"></td>
    </tr>
  </table>
</form>
