<h2>{{titulo}}</h2>
<div *ngIf="!producto">
  <p>Cargando detalle de producto</p>
</div>
<div *ngIf="producto">
  <div *ngIf='producto.imagen' class="col-lg-3">
    <img src="http://localhost/CursoAngular-Udemy-Backend/uploads/{{producto.imagen}}"
    class="producto_imagen">
  </div>
  <div class="col-lg-9">
    <h4><strong>{{producto.nombre}}</strong></h4>
    <h6>{{producto.descripcion}}</h6>
    <h6>{{producto.precio}}</h6>
    <h6>{{producto.imagen}}</h6>
  </div>
</div>
