<h2>{{titulo}}</h2>
<hr>
<div *ngIf="!productos">
  <p>Cargando listado de productos ...</p>
</div>
<div *ngIf="productos">
  <div class="row">
    <div class="col-lg-4" *ngFor="let producto of productos">
      <div class="thumbnail">
        <div *ngIf="producto.imagen" class="imagen_container">
          <img src="http://localhost/CursoAngular-Udemy-Backend/uploads/{{producto.imagen}}"
                    class="producto_imagen">
        </div>
        <div *ngIf="!producto.imagen">
          <div class="imagen_relleno"></div>
        </div>
        <div class="caption">
          <p><strong>{{producto.nombre}}</strong></p>
          <p>{{producto.precio}}</p>
          <div class="botones" *ngIf="confirmado != producto.id">
            <a [routerLink]="['/producto-detail/',producto.id]" class="btn btn-sm btn-primary">Ver</a>
            <a [routerLink]="['/producto-edit/',producto.id]" class="btn btn-sm btn-warning">Editar</a>
            <a (click)="deleteConfirm(producto.id)" class="btn btn-sm btn-danger">Eliminar</a>
          </div>
          <div class="seguro" *ngIf="confirmado == producto.id">
            <a (click)="onDeleteProducto(producto.id)" class="btn btn-sm btn-danger">Si, eliminar</a>
            <a (click)="cancelConfirm()" class="btn btn-sm btn-warning">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
